
# Tasks: SimpleSAMLphp
#
# Author: Remko van den Hoef
# File: tasks/mail.yml
#


- name: Add nginx stable repository from PPA and install its signing key on Ubuntu target
  ansible.builtin.apt_repository:
    repo: ppa:ondrej/php

- name: apt update
  raw: sudo apt update


#- name: "Install packages"
#  apt:
#    name: "{{ packages }}"
#    update_cache: yes
#    state: present
#  vars:
#    packages:
#    - zip
#    - software-properties-common
#    - unzip
#    - git
#    - apache2
#    - curl
#    - php
#    - php-common
#    - php-date
#    - php-dom
 #   - php-hash
 #   - php-libxml
 #   - php-openssl
 #   - php-pcre
 #   - php-SPL
 #   - php-zlib
 #   - php-json
 #   - php-mbstring
 #   - php-cURL
 #   - php-ldap
 #   - php-radius
 #   - php-session
 #   - php-memcache

#- name: mkdir
#  raw: mkdir /var/simplesamlphp

- name: Download and unzip package
  unarchive:
    src: https://simplesamlphp.org/download?latest
    dest: /var/simplesamlphp
    remote_src: yes


- name: Transfer apache2 config
  template:
    src: simplesamlphp.conf.j2
    dest: /etc/apache2/sites-available/simplesamlphp.conf
    mode: '0644'

#- name: Apache symbolic link
#  raw: ln -s /etc/apache2/sites-available/simplesamlphp.conf /etc/apache2/sites-enabled/

- name: Update SimpleSAMLphp config
  ansible.builtin.lineinfile:
    path: /var/simplesamlphp/simplesamlphp-1.18.8/config-templates/config.php
    regexp: "'baseurlpath' =>"
    line:    "'baseurlpath' => 'https://{{ baseurl }}/simplesaml/',"

- name: Update SimpleSAMLphp config
  ansible.builtin.lineinfile:
    path: /var/simplesamlphp/config-templates/config.php
    regexp: "'auth.adminpassword' =>"
    line:    "'auth.adminpassword' => '{{ authadmin }}',"

- name: Update SimpleSAMLphp config
  ansible.builtin.lineinfile:
    path: /var/simplesamlphp/config-templates/config.php
    regexp: "'secretsalt' =>"
    line:    "'secretsalt' => '{{  secretsalt }}',"

- name: Update SimpleSAMLphp config
  ansible.builtin.lineinfile:
    path: /var/simplesamlphp/config-templates/config.php
    regexp: "'technicalcontact_email' =>"
    line:    "'technicalcontact_email' => '{{ contactmail }}',"

- name: Update SimpleSAMLphp config
  ansible.builtin.lineinfile:
    path: /var/simplesamlphp/config-templates/config.php
    regexp: "'timezone' =>"
    line:    "'timezone' => 'Europe/Amsterdam',"

    
