
# Tasks: SimpleSAMLphp
#
# Author: Remko van den Hoef
# File: tasks/mail.yml
#

- name: Test
  raw: sudo apt install software-properties-common

- name: Add nginx stable repository from PPA and install its signing key on Ubuntu target
  ansible.builtin.apt_repository:
    repo: ppa:ondrej/php

- name: Test3
  raw: sudo apt update


- name: "Install packages"
  apt:
    name: "{{ packages }}"
    update_cache: yes
    state: present
  vars:
    packages:
    - zip
    - unzip
    - git
    - apache2
    - curl
    - php7.4
    - php7.4-common
    - php7.4-date
    - php7.4-dom
    - php7.4-hash
    - php7.4-libxml
    - php7.4-openssl
    - php7.4-pcre
    - php7.4-SPL
    - php7.4-zlib
    - php7.4-json
    - php7.4-mbstring
    - php7.4-cURL
    - php7.4-ldap
    - php7.4-radius
    - php7.4-session
    - php7.4-memcache

- name: Download and unzip package
  unarchive:
    src: https://simplesamlphp.org/download?latest
    dest: /var/simplesamlphp
    remote_src: yes


- name: Transfer apache2 config
  template:
    src: simplesamlphp.conf.j2
    dest: /etc/apache2/sites-available/simplesamlphp.conf
    owner: bin
    group: wheel
    mode: '0644'

- name: Apache symbolic link
  raw: ln -s /etc/apache2/sites-available/simplesamlphp.conf /etc/apache2/sites-enabled/

- name: Update SimpleSAMLphp config
  ansible.builtin.lineinfile:
    path: /var/simplesamlphp/config-templates/config.php
    regexp: "'baseurlpath' =>"
    line:    "'baseurlpath' => 'https://{{ baseurl }}/simplesaml/',"

- name: Update SimpleSAMLphp config
  ansible.builtin.lineinfile:
    path: /var/simplesamlphp/config-templates/config.php
    regexp: "'auth.adminpassword' =>"
    line:    "'auth.adminpassword' => '{{ authadmin }}',"

- name: Update SimpleSAMLphp config
  ansible.builtin.lineinfile:
    path: /var/simplesamlphp/config-templates/config.php
    regexp: "'secretsalt' =>"
    line:    "'secretsalt' => '{{  secretsalt }}',"

- name: Update SimpleSAMLphp config
  ansible.builtin.lineinfile:
    path: /var/simplesamlphp/config-templates/config.php
    regexp: "'technicalcontact_email' =>"
    line:    "'technicalcontact_email' => '{{ contactmail }}',"

- name: Update SimpleSAMLphp config
  ansible.builtin.lineinfile:
    path: /var/simplesamlphp/config-templates/config.php
    regexp: "'timezone' =>"
    line:    "'timezone' => 'Europe/Amsterdam',"

    
